<ion-header>
    <ion-navbar color="dark">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title><span text-color="star">Films</span></ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-list inset>

        <ion-item *ngFor="let film of films">
            <ion-icon name="film" item-start></ion-icon>
            <h2> {{film.title}}</h2>
            <p>
                {{film.release_date}}
            </p>
            <button ion-button clear item-end (click)="itemSelected(film)"><ion-icon name="arrow-forward"></ion-icon></button>
        </ion-item>

    </ion-list>
</ion-content>