<ion-header>

    <ion-navbar color="dark">
        <ion-title> <span text-color="star">{{ filmname }}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list>
        <button ion-item *ngFor="let item of people" (click)="itemSelected(item)">
      {{ item.name }}
    </button>
    </ion-list>

</ion-content>