<ion-header>
    <ion-navbar color="dark">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title><span text-color="star">Starships</span></ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-list inset>
        <ion-item *ngFor="let item of starshipsProvider.starships">
            <ion-icon name="jet" item-start></ion-icon>
            <h2> {{item.name}}</h2>
            <h3> {{item.model}}</h3>
            <p>
                {{item.manufacturer}}
            </p>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="next($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>