<ion-menu [content]="content">
    <ion-header color="dark">
        <ion-toolbar color="dark">
            <ion-title><span text-color="star">Menu</span></ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                    <span text-color="star">{{p.title}}</span>
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>