<ion-header>
    <ion-navbar color="dark">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title><span text-color="star">Vehicles</span></ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor="let item of vehiclesProviders.vehicles">
            <ion-icon name="ionitron" item-start></ion-icon>
            <h2> {{item.name}}</h2>
            <h3> {{item.model}}</h3>
            <p>
                {{item.manufacturer}}
            </p>
        </ion-item>
    </ion-list>



    <ion-infinite-scroll (ionInfinite)="next($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>