<ion-header>
    <ion-toolbar color="dark">
        <ion-title> <span text-color="star">{{ person.name }}</span>

        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
           Exit
      </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <h2>Gender</h2>
            <h3 item-end>{{ person.gender }}</h3>
        </ion-item>

        <ion-item>
            <h2>Height</h2>
            <h3 item-end>{{ person.height }}</h3>
        </ion-item>

        <ion-item>
            <h2>Hair Color</h2>
            <h3 item-end>{{ person.hair_color }}</h3>
        </ion-item>

        <ion-item>
            <h2>Birth Year</h2>
            <h3 item-end>{{ person.birth_year }}</h3>
        </ion-item>

        <ion-item>
            <h2>Mass</h2>
            <h3 item-end>{{ person.mass }}</h3>
        </ion-item>

    </ion-list>
</ion-content>